<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cogmento UI Tests">
	<test thread-count="5" name="Test">
		<classes>
		<class name="com.cogmento.ui.test.LoginPageTest" />
		<class name="com.cogmento.ui.test.LogoutTest" />
		</classes>
	</test>
</suite>