<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cogmento UI Tests" parallel="false">
	<test thread-count="5" name="Test1">
		<classes>
			<class name="com.cogmento.ui.test.LoginPageTest" />
			<class name="com.cogmento.ui.test.ContactPageTest" />
			<class name="com.cogmento.ui.test.DealsPageTest" />
			<class name="com.cogmento.ui.test.CreateNewDealPageTest" />
			<class name="com.cogmento.ui.test.LogoutTest" />
		</classes>
	</test>
	<!--
	<test thread-count="5" name="Test2">
		<classes>
		<class name="com.cogmento.ui.test.LoginPageTest" />
		<class name="com.cogmento.ui.test.LogoutTest" />
		</classes>
	</test>
	-->
</suite>